<% include header %>
<div class="ui grid" style="height: 100%;">
    <div class="two wide column" style="height: 100%; background-color: #1b1c1d;">
        <% include navbar %>
    </div>
    <div class="thirteen wide centered column" style="margin-top: 30px;">
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>影片名称</th>
                <th>喜欢/不喜欢</th>
                <th>评分</th>
            </tr>
            </thead>
            <tbody>
            <% favorites.forEach(function (favorite) { %>
            <tr>
                <td><%= favorite.id %></td>
                <td><%= favorite.username %></td>
                <td><%= favorite.name %></td>
                <td>
                    <% if (favorite.is_favorite === '1') { %>
                    喜欢
                    <% } else { %>
                    不喜欢
                    <% } %>
                </td>
                <td><%= favorite.star %></td>
            </tr>

            <% }) %>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <% include pagination %>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<% include footer %>