<div class="ui vertical fluid labeled icon inverted menu">
    <a class="item" href="/list"><i class="inverted record icon"></i> 电影列表 </a>
    <a class="item" href="/upload"><i class="inverted edit icon"></i> 上传数据 </a>
    <a class="item" href="/adminUser"><i class="inverted user icon"></i> 管理员列表 </a>
    <a class="item" href="/mobileUser"><i class="inverted users icon"></i> 手机用户列表 </a>
    <a class="item" href="/comments"><i class="inverted file text icon"></i> 用户评论 </a>
    <a class="item"><i class="inverted star half icon"></i> 喜欢/不喜欢 </a>
</div>